# Created by .ignore support plugin (hsz.mobi)
.classpath
.idea/
.project
.settings/
.springBeans
EmbeddedActivitiWebApplication.iml
src/main/resources/META-INF/
src/main/webapp/WEB-INF/classes/
src/main/webapp/resources/
target/
